body {
    color: white;
    background-color: black;
    font-family: monospace;
}

a {
    color: cyan;
}

header {
    user-select: none;
}

img {
    image-rendering: pixelated;
}

p {
    margin-left: 1%;
}

::selection {
    background-color: darkgreen;
    color: black;
}