body {
    color: white;
    background-color: black;
    font-family: monospace;
    overflow: hidden;
}

a {
    color: cyan;
}

header {
    user-select: none;
}

img {
    image-rendering: pixelated;
}

p {
    margin-left: 1%;
}

::selection {
    background-color: darkgreen;
    color: black;
}

nav {
    opacity: 0;

    animation-name: opacity;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

main {
    animation-name: opacity;
    animation-duration: 1s;
}