#biscuits {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: max-content;
    text-align: center;
    background-color: white;
    color: black;
    font-style: italic;
    font-size: larger;
    user-select: none;
    padding-bottom: 1%;
}

#biscuits-accept {
    background-color: black;
    color: white;
    border: 2px solid grey;
    border-radius: 16px;
    font-size: larger;
    padding: 5px 10px;
}

#biscuits-icon {
    font-style: normal;
    user-select: none;
}