#end-of-page {
    font-style: italic;
    color: white;
    background-color: rgb(60, 60, 60);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    user-select: none;
    padding: 1%;
}