#header-icon {
    animation-name: header-icon-intro;
    animation-duration: 1s;
}

#header-title {
    display: flex;
    font-weight: bold;
    font-size: xx-large;
}

.header-title-char {
    animation-name: header-title-char-intro;
    animation-duration: 2s;
}

.header-title-char:hover {
    color: darkcyan;
    translate: 0 -0.25vw;
}

.header-title-char:active {
    color: cyan;
}

#header-title-postfix {
    opacity: 0;

    animation-name: opacity;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

@keyframes header-icon-intro {
    from {
        translate: -1vw 0;
        opacity: 0;
    }
    to {
        translate: 0 0;
        opacity: 1;
    }
}

@keyframes header-title-char-intro {
    from {
        translate: 100vw 0;
        opacity: 0;
    }
    to {
        translate: 0 0;
        opacity: 1;
    }
}